.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.row .col {
    padding: 0 .0rem;
}

/* modals */ 

.modal-trigger img {

    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.modal-trigger:hover img {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.imagewrap {
    display:inline-block;
    position:relative;
    
}
    
.button3 {
    position:absolute;
    right:50%;top:50%;
 
/* navbar */ 
    
}

.nav-wrapper {
    background-color: white;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1.5rem;
    color: rgba(0,0,0,0.87);
    display: block;
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Luckiest Guy', cursive;
}

/* font on locations page */ 

.header {
    font-family: 'Luckiest Guy', cursive;
}

/* scroll behaviour */ 

 html {
  scroll-behavior: smooth;
 }
 
/* fade on hover creature immages */ 

 
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}



.text {
  color: #4C9900;
  font-size: 50px;
  padding: 16px 32px;
  font-family: 'Luckiest Guy', cursive;
}

#wrapper, img{
    width:100%;
    height: 100%;
}

.animals {
    margin-left: 50px;
    margin-right: 50px;
}

/* Creatures font */ 

.text-creatures {
  color: #4C9900;
  font-size: 20px;
  padding: 5px 5px;
  font-family: 'Luckiest Guy', cursive;
}

.form {
    margin-left: 250px;
    margin-right: 450px;
}
