
/*  Page headings */

.page-heading {
    color: #4d9900;
    font-size: 50px;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 70px;
    font-family: 'Lilita One', cursive;
}

/*  text used throughout site */

.text {
    font-family: 'Source Sans Pro', sans-serif;
}

/*  text used on headers in location page */

.location-header {
    color: white;
    font-size: 25px;
    font-family: 'Lilita One', cursive;
}

/*  modal headings */

.modal-heading {
    color: #4d9900;
    font-size: 30px;
    font-family: 'Lilita One', cursive;
}

/*  Edit & Delete buttons on Statistics Page */

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

/* modals */

.modal-trigger img {

    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.modal-trigger:hover img {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/* navbar */

.nav-wrapper {
    background-color: white;
}

nav ul a {
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    font-size: 1.75rem;
    color: #1E221E;
    font-family: 'Source Sans Pro', sans-serif;
    ;
}

nav a {
    color: black;
}

/* Creatures images */

#wrapper,
img {
    width: 100%;
    height: 100%;
}

/* add a creature submission form */

.form {
    margin-left: 250px;
    margin-right: 450px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .form {
  margin-left: 50px;
  margin-right: 50px;
  }
 }


/* Creature List */

.animals {
    margin-left: 150px;
    margin-right: 150px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
    .animals {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* formatting in locations page */

#map {
    height: 800px;
    width: 100%;
}

.locations-wrapper {
    margin-left: 300px;
    margin-right: 300px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
.locations-wrapper {
    margin-left: 50px;
    margin-right: 50px;
}
}

/* space above each location */

.location-wrapper {
    margin-top: 30px;
}

/* margin on statistics page */

.form-stats {
    margin-left: 150px;
    margin-right: 150px;
}

/* formatting of graphs on statistics page */

.graphs {
    margin-left: 50px;
    margin-right: 50px;
}
