{% extends 'base.html' %} {% block content %}
<h3 class="page-heading">Record a Sighting</h3>
<div class="row form">
    <form action="{{ url_for('insert_creature') }}" method="POST"  class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">place</i>
                    <select id="location" name="location">
                  <option value="" disabled selected class="modal-text">Choose Location</option>
                  {% for loc in locations %}
                      <option value="{{loc.location}}" class="modal-text">{{loc.location}}</option>
                  {% endfor %}
                </select>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix" class="modal-text">pets</i>
                <input id="creature" name="creature_name" type="text">
                <label for="icon_prefix" class="modal-text">Creature</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix" class="modal-text">comment</i>
                <textarea name="comment" id="comment" class="materialize-textarea"></textarea>
                <label for="icon_telephone" class="modal-text">Comment</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix" class="modal-text">date_range</i>
                <input id="date" name="date" type="text" class="datepicker">
                <label for="icon_prefix" class="modal-text">Date of Sighting</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix" class="modal-text">access_time</i>
                <input id="time" name="time" type="text" class="timepicker">
                <label for="icon_prefix" class="modal-text">Time of Sighting</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" style="background-color: #4d9900" type="submit" name="action">Record Sighting
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}