<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <container>
            <img href="{{url_for('get_creatures')}}" class="brand-logo" src="static/images/banner-1.png" width="100%">
        </container>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_creatures')}}">Home</a></li>
                    <li><a href="{{url_for('add_creature')}}">Add a Creature</a></li>
                    <li><a href="{{url_for('creature')}}">Creatures</a></li>
                    <li><a href="{{url_for('location')}}">Locations</a></li>
                    <li><a href="{{url_for('statistics')}}">Statistics and Sightings</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_creatures')}}">Home</a></li>
                    <li><a href="{{url_for('add_creature')}}">Add a Creature</a></li>
                    <li><a href="{{url_for('creature')}}">Creatures</a></li>
                    <li><a href="{{url_for('location')}}">Locations</a></li>
                    <li><a href="{{url_for('statistics')}}">Statistics & Sightings</a></li>
                </ul>
            </div>
        </nav>
        <br>
    </header>
        {% block content %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.modal').modal();
            $('.timepicker').timepicker();
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        document.getElementById("matfix").addEventListener("click", function(e) { e.stopPropagation(); });
    </script>
</body>

</html>