<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">


  <link rel="icon" href="{{url_for('static', filename='images/kestrel.jpg')}}" >
</head>

<body>
  <header>
    
    <!-- banner at top of each page -->
    
    <div class="mobileHide">
      <img src="{{url_for('static', filename='images/banner-desktop.png')}}" class="brand-logo" width="100%" alt="The Scottish Environment Conservancy">
    </div>
    <div class="mobileShow">
      <img src="{{url_for('static', filename='images/banner-mobile-1.png')}}" class="brand-logo" width="100%" alt="The Scottish Environment Conservancy">
    </div>
    
    <!-- Nav Bar - mobile and desktop view -->
    
    <nav class="nav">
      <div class="nav-wrapper">
        <a href="{{url_for('get_creatures')}}" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{url_for('get_creatures')}}">Home</a></li>
          <li><a href="{{url_for('add_creature')}}">Add a Creature</a></li>
          <li><a href="{{url_for('creature')}}">Creatures</a></li>
          <li><a href="{{url_for('location')}}">Locations</a></li>
          <li><a href="{{url_for('statistics')}}">Statistics and Sightings</a></li>
        </ul>
        <center>
          <ul class="side-nav" id="mobile-demo">
            <li><img src="{{url_for('static', filename='images/nav-image.png')}}" class="nav-logo" alt="Flower"></li>
            <li><a href="{{url_for('get_creatures')}}">Home</a></li>
            <li><a href="{{url_for('add_creature')}}">Add a Creature</a></li>
            <li><a href="{{url_for('creature')}}">Creatures</a></li>
            <li><a href="{{url_for('location')}}">Locations</a></li>
            <li><a href="{{url_for('statistics')}}">Statistics & Sightings</a></li>
          </ul>
        </center>
      </div>
    </nav>
    <br>
  </header>
  {% block content %} {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
  <script type="text/javascript">
  
  /* Materialize JQuery */
  
    $(document).ready(function() {
      $('.collapsible').collapsible();
      $('select').material_select();
      $(".button-collapse").sideNav();
      $('.modal').modal();
    });
    
    /* Google map javascript */

    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: new google.maps.LatLng(56.4, -4.2),
        mapTypeId: 'roadmap'
      });

      /* Site Icons */

      var iconBase = 'http://maps.google.com/mapfiles/kml/paddle/';
      var icons = {
        black: {
          name: 'Black',
          icon: iconBase + '1.png'
        },
        kirkaldy: {
          name: 'Kirkaldy',
          icon: iconBase + '2.png'
        },
        edinburgh: {
          name: 'Edinburgh',
          icon: iconBase + '3.png'
        },
        glasgow: {
          name: 'Glasgow',
          icon: iconBase + '4.png'
        },
        strontian: {
          name: 'Strontian',
          icon: iconBase + '5.png'
        },
        castle: {
          name: 'Castle',
          icon: iconBase + '6.png'
        },
        aberlour: {
          name: 'Aberlour',
          icon: iconBase + '7.png'
        },
        burnham: {
          name: 'Burnham',
          icon: iconBase + '8.png'
        },
      };

      var features = [{
        position: new google.maps.LatLng(57.558198, -4.182562),
        type: 'black'
      }, {
        position: new google.maps.LatLng(56.171335, -3.029398),
        type: 'kirkaldy'
      }, {
        position: new google.maps.LatLng(55.981572, -3.252362),
        type: 'edinburgh'
      }, {
        position: new google.maps.LatLng(55.8642, -4.2518),
        type: 'glasgow'
      }, {
        position: new google.maps.LatLng(56.680285, -5.603666),
        type: 'strontian'
      }, {
        position: new google.maps.LatLng(54.795061, -3.924787),
        type: 'castle'
      }, {
        position: new google.maps.LatLng(57.457405, -3.239592),
        type: 'aberlour'
      }, {
        position: new google.maps.LatLng(56.573855, -3.622469),
        type: 'burnham'
      }, ];

      // Create markers.
      features.forEach(function(feature) {
        var marker = new google.maps.Marker({
          position: feature.position,
          icon: icons[feature.type].icon,
          map: map
        });
      });

      var legend = document.getElementById('legend');
      for (var key in icons) {
        var type = icons[key];
        var name = type.name;
        var icon = type.icon;
        var div = document.createElement('div');
        div.innerHTML = '<img src="' + icon + '"> ' + name;
        legend.appendChild(div);
      }

      map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
    }
  </script>
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZUoddzmjdsPyjRVUg_4iD8Z58zptNwsc&callback=initMap">
  </script>
</body>

</html>
