{% extends 'base.html' %} {% block content %}

<h3 class="text">Birds of Prey</h3>

<div class="row animals">
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-buzzard" width="100%">
            <img src="static/images/buzzard.jpg" width="100%">
        </a>

        <!-- Modal Structure -->
        <div id="modal-buzzard" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Buzzard</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The common buzzard is a medium-sized raptor. Most buzzards are distinctly round 
                    headed with a somewhat slender bill, relatively 
                    long wings that either reach or fall slightly short of the tail tip when perched, 
                    a fairly short tail, and somewhat short and mainly bare tarsi.</p> 
                    
                    <p class="modal-text">The common buzzard measures between 40 and 58 cm in length with a 109–140 cm wingspan.
                    The flight feathers on perched European buzzards are always brown. Usually the tail 
                    will usually be narrowly barred grey-brown and dark brown with a pale tip and a broad 
                    dark subterminal band.</p>
                    
                    <p class="modal-text">The main call of the species is a plaintive, far-carrying pee-yow or peee-oo, used 
                    as both contact call and more excitedly in aerial displays. </p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">All year round in Eastern Scotland</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/buzzard.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-golden">
                <img src="static/images/golden.jpg" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-golden" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Golden Eagle</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The golden eagle is a very large raptor, 66 to 102 centimetres in length. 
                    Its wings are broad and the wingspan is 1.8 to 2.34 metres.</p>
                    
                    <p class="modal-text">Adults of both sexes have similar plumage and are primarily dark brown, with some grey on 
                    the inner wing and tail, and a paler, typically golden colour on the back of the crown and 
                    nape that gives the species its common name.</p>
                    
                    <p class="modal-text">The voice of the golden eagle is considered weak, high, and shrill, has been called "quite 
                    pathetic" and "puppy-like". Most known vocalisations seem to function as contact calls between eagles, 
                    sometimes adults to their offspring, occasionally territorial birds to intruders and rarely 
                    between a breeding pair.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">All year round in the uplands in 
                    central and northern Scotland</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/golden.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-barn" width="100%">
                <img src="static/images/barn.jpg" height="100%" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-barn" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Barn Owl</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The barn owl is a medium-sized, pale-coloured owl with long wings and a short, 
                    squarish tail. A typical specimen measuring about 33 to 39 cm in overall length. 
                    Barn owls have a typical wingspan of some 80 to 95 cm.</p>
                        
                    <p class="modal-text">The shape of the tail is a means of distinguishing the barn owl from typical
                    owls when seen in the air. Other distinguishing features are the undulating flight 
                    pattern and the dangling, feathered legs. The pale face with its heart shape and 
                    black eyes give the flying bird a distinctive appearance, the ridge of feathers above the beak somewhat 
                    resembling a nose.</p>
                        
                    <p class="modal-text">It instead produces a shree scream in an eerie, long-drawn-out shriek.</p>
                        
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">All year round. 
                    Widespread, but absent from the Highlands of Scotland.</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/barn.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-kestrel" width="100%">
                <img src="static/images/kestrel.jpg" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-kestrel" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Common Kestrel</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">Common kestrels measure 32–39 cm from head to tail, with a wingspan of 
                    65–82 cm. They are thus small compared with other birds of prey, but larger 
                    than most songbirds. Like the other Falco species, they have long wings as 
                    well as a distinctive long tail.</p>
                    
                    <p class="modal-text">Their plumage is mainly light chestnut brown with blackish spots on the upper 
                    side and buff with narrow blackish streaks on the underside; the remiges are also 
                    blackish. Unlike most raptors, they display sexual colour dimorphism with the
                    male having fewer black spots and streaks, as well as a blue-grey cap and tail. 
                    The tail is brown with black bars in females, and has a black tip with a narrow 
                    white rim in both sexes. All common kestrels have a prominent black malar stripe 
                    like their closest relatives.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">January – December. The only places they 
                    do not favour are dense forests, vast treeless wetlands and mountains.</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/kestrel.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-peregrine" width="100%">
                <img src="static/images/peregrine.jpg" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-peregrine" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Peregrine Falcon</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The peregrine falcon is a medium-sized raptor with a body length of 34 to 58 cm 
                    and a wingspan from 74 to 120 cm. The male and female have similar markings and 
                    plumage, but as in many birds of prey the peregrine falcon displays marked sexual 
                    dimorphism in size, with the female measuring up to 30% larger than the male. 
                    Males weigh 330 to 1,000 g (0.73–2.20 lb) and the noticeably larger females weigh 
                    700 to 1,500 g (1.5–3.3 lb).</p>
                    
                    <p class="modal-text">The back and the long pointed wings of the adult are usually bluish black to slate 
                    grey with indistinct darker barring (see "Subspecies" below); the wingtips are black. 
                    The white to rusty underparts are barred with thin clean bands of dark brown or black. 
                    The tail, coloured like the back but with thin clean bars, is long, narrow, and rounded 
                    at the end with a black tip and a white band at the very end.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">January – December in southern Scotland</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/peregrine.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-tawny" width="100%">
                <img src="static/images/tawny.jpg" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-tawny" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">The tawny owl</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The tawny owl is a robust bird, 37–46 cm in length, with an 81–105 cm wingspan. 
                    Its large rounded head lacks ear tufts, and the facial disc surrounding the dark 
                    brown eyes is usually rather plain.</p>
                    
                    <p class="modal-text">The flight of the tawny owl is rather heavy and slow, particularly at take-off. 
                    As with most owls, its flight is silent because of its feathers' soft, furry upper 
                    surfaces and a fringe on the leading edge of the outer primaries.</p>
                    
                    <p class="modal-text">The commonly heard female contact call is a shrill, kew-wick but the male has a 
                    quavering advertising song hoo...ho, ho, hoo-hoo-hoo-hoo. The call is easily imitated 
                    by blowing into cupped hands through slightly parted thumbs.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">January – December.
                    The tawny owl is commonly found in many parts of the mainland and the Inner Hebrides although 
                    apparently absent from the Outer Hebrides and Northern Isles.</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/tawny.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-red" width="100%">
                <img src="static/images/red.jpg" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-red" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">The red Kite </h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The red kite (Milvus milvus) is a medium-large bird of prey in the family Accipitridae. 
                    Red kites are 60 to 70 cm long with a 175–179 cm wingspan; males weigh 800–1,200 g (28–42 oz), 
                    and females 1,000–1,300 g (35–46 oz).</p>
                    
                    <p class="modal-text">It is an elegant bird, soaring on long wings held at a dihedral, and long forked tail, 
                    twisting as it changes direction. The body, upper tail and wing coverts are rufous. The white 
                    primary flight feathers contrast with the black wing tips and dark secondaries.</p>
                    
                    <p class="modal-text">Its call is a thin piping sound, similar to but less mewling than the common buzzard.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">October and April.
                    The Scottish population is centred around the release sites in Dumfries and Galloway, Stirling-shire 
                    and west Perthshire, around Black Isle in Ross-shire, and on the outskirts of Aberdeen City.</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/red.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-merlin" width="100%">
                <img src="static/images/merlin.jpg" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-merlin" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">The merlin</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The merlin is 24–33 cm long with a 50–73 cm wingspan. Compared with most other 
                    small falcons, it is more robust and heavily built.</p>
                    
                    <p class="modal-text">The male merlin has a blue-grey back, ranging from almost black to silver-grey in 
                    different subspecies. Its underparts are buff- to orange-tinted and more or less 
                    heavily streaked with black to reddish brown.</p>
                    
                    <p class="modal-text">Besides a weak whitish supercilium and the faint dark malar stripe—which are barely 
                    recognizable in both the palest and the darkest birds—the face of the merlin is less 
                    strongly patterned than in most other falcons.</p>
                    
                    <p class="modal-text">Both sexes give a shrill, chattering call that can last 4 seconds.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">August or September in 
                    upland areas from Shetland to the Borders.</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/merlin.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
</div>

<h3 class="text">Bats</h3>

<div class="row animals">
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-white-4">
            <img src="static/images/white-4.jpg" width="80%">
        </a>

        <!-- Modal Structure -->
        <div id="modal-white-4" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">The common pipistrelle</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The common pipistrelle is a very small species of bat. Its forearm is 27.7–32.2 mm long. It has a short muzzle.</p>
                    
                    <p class="modal-text">It is 3.5–5.2 cm long along the head-and-body, with the tail adding 2.3–3.6 cm. The body mass can range from 3.5 
                    to 8.5 g with the wingspan ranging from 18 to 25 cm. Its brown fur is variable in tone.</p>
                    
                    <p class="modal-text">It is common in woodland and farmland but is also found in towns, where the females roost in lofts and buildings when rearing young.</p>
                    
                    <p class="modal-text">The common pipistrelle is an edge specialist, preferring to forage along woodland edges and along isolated tree lines. 
                    It is insectivorous, preying on flies, caddisflies, lacewings, and mayflies.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">Widespread across Scotland in April - October</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/white-4.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-white-3">
                <img src="static/images/white-3.jpg" width="80%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-white-3" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Brandt’s Bat</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">Brandt’s Bat is a small bat, with the length of its head and body only 39–51 mm. 
                    Its forearm is 33–39 mm long; its tail is 32–44 mm long; its hind feet are 7–9 mm long; 
                    its ears are 12–17 mm.</p>
                    
                    <p class="modal-text">It has long fur relative to its body size. The fur on its back is pale brown with a 
                    golden sheen, while the fur on its ventral side is paler gray, sometimes with a yellowish tinge.
                    Its tragus is narrow and pointed.</p>
                    
                    <p class="modal-text">During the winter, Brandt's bat will roost in mine shafts, caves, tunnels, and cellars. Some, 
                    but not all, populations hibernate in the winter, while others are partially migratory.</p>
                    
                    <p class="modal-text">They are insectivorous, foraging at low altitudes with a quick, manoeuvrable flight.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">Unknown. This bat is extremely rare</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/white-3.jpg" width="80%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-white-2">
                <img src="static/images/white-2.jpg" width="80%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-white-2" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">The noctule</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The noctule is the biggest, noisiest and fastest bat in Scotland. 
                    The short fur is dark brown after molting in June (males) or July/August (females), 
                    later it changes to red-brown before the onset of winter. When awake, the body 
                    temperature is 36.5 °C but decreases significantly during inactivity of the animal.</p>
                    
                    <p class="modal-text">The body mass of adult N. noctula is 25-30 g and they have a wingspan of 37–40 cm. 
                    The species forages with a rapid flying speed of 20–40 km/h, sometimes up to 60 km/h.</p>
                    
                    <p class="modal-text">Because of temporally limited availability of insect prey, they have short daily 
                    activity periods before sunrise and after sunset of in total 1 h or less and must 
                    cope with up to 23 h of fasting a day.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">April - October. They live 
                    in the south of Scotland where they roost in trees.</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/white-2.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-white-1">
                <img src="static/images/white-1.jpg" width="80%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-white-1" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Lesser noctule</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">Lesser noctule is a medium-sized bat, slightly smaller than the common noctule. 
                    It has a length of 48 to 68 mm (head and body) and a wingspan of 260 to 330 mm. 
                    The forearm measures 38 to 47 mm and the bat's weight is 11 to 20 grams.</p>
                    
                    <p class="modal-text">The face, ears and wings are dark. The fur is brown, darker at the base than the 
                    tip unlike that of the common noctule which is the same colour along its length. 
                    The undersides of the arms are hairy giving it the alternative name "hairy-armed bat".</p>
                    
                    <p class="modal-text">It is typically found in forests, both coniferous and deciduous, but has also adapted to 
                    parkland and urban areas and frequently roosts in buildings. They like woodland and 
                    pasture as well as river and stream habitats to feed.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">April - October. Restricted breeding range in 
                    the south west of Scotland</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/white-1.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
</div>

<h3 class="text">Mammals</h3>

<div class="row animals">
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-hare" width="100%">
                        <img src="static/images/hare-white.jpg" width="100%">
                    </a>

        <!-- Modal Structure -->
        <div id="modal-hare" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">The mountain hare</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The mountain hare is a large species, though it is slightly smaller than the European hare. 
                    It grows to a length of 45–65 cm, with a tail of 4–8 cm, and a mass of 2–5.3 kg, females being 
                    slightly heavier than males.</p>
                    
                    <p class="modal-text">They can live for up to 12 years. In summer, for all populations of mountain hares, the coat 
                    is various shades of brown. In preparation for winter most populations moult into a white (or 
                    largely white) pelage.</p>
                    
                    <p class="modal-text">The tail remains completely white all year round, distinguishing the mountain hare from the 
                    European hare (Lepus europaeus), which has a black upper side to the tail.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">Upland & moorland throughout Scotland.
                    One of the best times of year to see mountain hares is in the spring when there has been a 
                    snow melt and their white winter coats give them away on the open hillsides.</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/hare-white.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-mole">
                <img src="static/images/mole-1.jpg" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-mole" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Mole</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">Moles are small mammals adapted to a subterranean lifestyle. They have cylindrical 
                    bodies; velvety fur; very small, inconspicuous ears and eyes; reduced hind limbs; and 
                    short, powerful forelimbs with large paws adapted for digging.</p>
                    
                    <p class="modal-text">Moles are known pests to human activities such as agriculture, lawn care, and gardening. 
                    However, they do not eat plant roots; they only cause damage indirectly as they eat 
                    earthworms and other small invertebrates in the soil. However, while moles may be viewed as 
                    pests; they do provide many positive contributions to the soil, gardens, and the ecosystem.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">Moles are also found across most of mainland Scotland and on a few islands including Skye and 
                    Mull. Moles are able to adapt to agricultural land, where you are more likely to see molehills. 
                    They also occur in Scotland in low densities in coniferous forests, moorland and sand dune systems.
                    Most active in the early morning or evening in the spring or autumn.</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/mole-1.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-squirrel" width="100%">
                <img src="static/images/squirrel-white.jpg" height="100%" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-squirrel" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">The red squirrel</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The red squirrel has a typical head-and-body length of 19 to 23 cm, a tail length of 15 to 20 cm, 
                    and a mass of 250 to 340 g. Males and females are the same size.</p>
                    
                    <p class="modal-text">The red squirrel, like most tree squirrels, has sharp, curved claws to enable it to climb and descend 
                    broad tree trunks, thin branches and even house walls. Its strong hind legs enable it to leap gaps 
                    between trees.</p>
                    
                    <p class="modal-text">The underside of the squirrel is always white-cream in colour. The red squirrel sheds its coat twice a 
                    year, switching from a thinner summer coat to a thicker, darker winter coat with noticeably larger ear-tufts between August and November.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">All year around in pine forests of the Highlands and 
                    Dumfries & Galloway</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/squirrel-white.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal-stoat" width="100%">
                <img src="static/images/stoat-white.jpg" width="100%">
            </a>

        <!-- Modal Structure -->
        <div id="modal-stoat" class="modal">
            <div class="modal-content">
                <h4 class="modal-heading">Stoat</h4>
                <div class="col s12 m12 l6">
                    <p class="modal-text">The stoat has an elongated neck, the head being set exceptionally far in front of 
                    the shoulders. The trunk is nearly cylindrical, and does not bulge at the abdomen. The 
                    greatest circumference of body is little more than half its length. The skull, although 
                    very similar to that of the least weasel, is relatively longer, with a narrower braincase.</p>
                    
                    <p class="modal-text">On average, males measure 187–325 mm in body length, while females measure 170–270 mm. 
                    The tail measures 75–120 mm in males and 65–106 mm in females. In males, the hind foot 
                    measures 40.0–48.2 mm, while in females it is 37.0–47.6 mm. The height of the ear measures 
                    18.0–23.2 mm in males and 14.0–23.3 mm.</p>
                    
                    <h4 class="modal-heading">When and where to see</h4><text class="modal-text">All year around and widespread across Scotland</text>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/stoat-white.jpg" width="100%">
                </div>
            </div>
            <div class="col s12 m12 l12 modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Modal</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
