{% extends 'base.html' %} {% block content %}
<h3>List of Creatures</h3>

<!-- Birds of Prey -->

<div class="row">
    <div class="col s12 m6 l4">
        <a class="nav-link" href="#C4"><img src="static/images/buzzard.jpg" width="80%"></a>
    </div>
    <div class="col s12 m6 l4">
        <a class="nav-link" href="#C4"><img src="static/images/squirrel-white.jpg" width="80%"></a>
    </div>
    <div class="col s12 m6 l4">
        <a class="nav-link" href="#C4"><img src="static/images/white-1.jpg" width="80%"></a>
    </div>
</div>

<div class="row" id="C4">
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal1" width="100%">
                        <img src="static/images/buzzard.jpg" width="100%">
                    </a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal2">
                <img src="static/images/golden.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Golden Eagle - Last Sighting 12/04/2018</h4>
                            <div class="col s12 m12 l6">
                                <p>The golden eagle (Aquila chrysaetos) is one of the best-known birds of prey in the Northern Hemisphere. It is the most widely distributed species of eagle. Like all eagles, it belongs to the family Accipitridae. These birds
                                    are dark brown, with lighter golden-brown plumage on their napes. Immature eagles of this species typically have white on the tail and often have white markings on the wings. Golden eagles use their agility and speed
                                    combined with powerful feet and massive, sharp talons to snatch up a variety of prey, mainly hares, rabbits, and marmots and other ground squirrels.
                                </p>
                            </div>
                            <div class="col s12 m12 l6">
                                <img src="static/images/GOLDEN.png" width="100%">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Window</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal3" width="100%">
                <img src="static/images/barn.jpg" height="100%" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal4" width="100%">
                <img src="static/images/kestrel.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal5" width="100%">
                <img src="static/images/peregrine.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal6" width="100%">
                <img src="static/images/tawny.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal6" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal9" width="100%">
                <img src="static/images/red.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal9" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal10" width="100%">
                <img src="static/images/merlin.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal10" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
</div>

<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <div>
                    <i class="material-icons">expand_more</i> <img src="static/images/kestrel-icon.jpg" height="100px" width="100px">
                </div>
            </div>
            <div class="collapsible-body">
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal1" width="100%">
                        <img src="static/images/white-4.jpg" width="100%">
                    </a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal2">
                <img src="static/images/white-3.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Golden Eagle - Last Sighting 12/04/2018</h4>
                            <div class="col s12 m12 l6">
                                <p>The golden eagle (Aquila chrysaetos) is one of the best-known birds of prey in the Northern Hemisphere. It is the most widely distributed species of eagle. Like all eagles, it belongs to the family Accipitridae. These birds
                                    are dark brown, with lighter golden-brown plumage on their napes. Immature eagles of this species typically have white on the tail and often have white markings on the wings. Golden eagles use their agility and speed
                                    combined with powerful feet and massive, sharp talons to snatch up a variety of prey, mainly hares, rabbits, and marmots and other ground squirrels.
                                </p>
                            </div>
                            <div class="col s12 m12 l6">
                                <img src="static/images/GOLDEN.png" width="100%">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Window</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal3" width="100%">
                <img src="static/images/white-2.jpg" height="100%" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal4" width="100%">
                <img src="static/images/white-1.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <div>
                    <i class="material-icons">expand_more</i> <img src="static/images/kestrel-icon.jpg" height="100px" width="100px">
                </div>
            </div>
            <div class="collapsible-body">
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal1" width="100%">
                        <img src="static/images/hare-white.jpg" width="100%">
                    </a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal2">
                <img src="static/images/mole-1.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Golden Eagle - Last Sighting 12/04/2018</h4>
                            <div class="col s12 m12 l6">
                                <p>The golden eagle (Aquila chrysaetos) is one of the best-known birds of prey in the Northern Hemisphere. It is the most widely distributed species of eagle. Like all eagles, it belongs to the family Accipitridae. These birds
                                    are dark brown, with lighter golden-brown plumage on their napes. Immature eagles of this species typically have white on the tail and often have white markings on the wings. Golden eagles use their agility and speed
                                    combined with powerful feet and massive, sharp talons to snatch up a variety of prey, mainly hares, rabbits, and marmots and other ground squirrels.
                                </p>
                            </div>
                            <div class="col s12 m12 l6">
                                <img src="static/images/GOLDEN.png" width="100%">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close Window</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal3" width="100%">
                <img src="static/images/squirrel-white.jpg" height="100%" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal4" width="100%">
                <img src="static/images/stoat-white.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal5" width="100%">
                <img src="static/images/peregrine.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal6" width="100%">
                <img src="static/images/tawny.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal6" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal9" width="100%">
                <img src="static/images/red.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal9" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#modal10" width="100%">
                <img src="static/images/merlin.jpg" width="100%">
            </a>

                    <!-- Modal Structure -->
                    <div id="modal10" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock %}
