{% extends 'base.html'%} {% block content %}

<h3>Edit creature</h3>
<div class="row">
    <form action="{{ url_for('update_creature', creature_id=creature._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="location" name="location_name">
                  <option value="" disabled selected>Choose location</option>
                  {% for loc in locations %}
                      {% if loc.location_name == creature.location_name%}
                      <option value="{{loc.location_name}}" selected >{{loc.location_name}}</option>
                      {% else %}
                       <option value="{{loc.location_name}}">{{loc.location_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label>creature location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="creature_name" name="creature_name" type="text" class="validate" value="{{creature.creature_name}}">
                <label for="icon_prefix">creature Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="creature_description" id="creature_description" class="materialize-textarea">{{creature.creature_description}}</textarea>
                <label for="icon_telephone">creature Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="due_date" type="text" class="datepicker">
                <label for="icon_prefix">Due Date</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                    {% if creature.is_urgent %}
                          <input id="is_urgent" name="is_urgent" type="checkbox" checked>
                    {% else %}
                         <input id="is_urgent" name="is_urgent" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Is Urgent
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit creature
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        due_date = Date.parse('{{creature.due_date}}');
        $('#due_date').pickadate('picker').set('select', due_date, { format: 'dd/mm/yyyy' }).trigger('change');
    });
</script>

{% endblock %}