{% extends 'base.html' %} {% block content %}

<h3 class="page-heading">Edit Sighting</h3>
<div class="row form">
    <form action="{{ url_for('update_creature', creature_id=creature._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">place</i>
                <select id="location" name="location">
                  <option value="" disabled selected>Choose location</option>
                  {% for loc in locations %}
                      {% if loc.location_name == creature.location_name%}
                      <option value="{{loc.location}}" selected >{{loc.location}}</option>
                      {% else %}
                       <option value="{{loc.location}}">{{loc.location}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label>creature location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">pets</i>
                <input id="creature" name="creature_name" type="text" class="validate" value="{{creature.creature_name}}" required="" aria-required="true">
                <label for="icon_prefix">creature</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">comment</i>
                <textarea name="comment" id="comment" class="materialize-textarea">{{creature.comment}}</textarea>
                <label for="icon_telephone">Comment</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">date_range</i>
                <input id="date" name="date" type="text" class="datepicker" required="" aria-required="true">
                <label for="icon_prefix">Due of Sighting</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">access_time</i>
                <input id="time" name="time" type="text" class="timepicker" required="" aria-required="true">
                <label for="icon_prefix">Time of Sighting</label>
            </div>
        </div>
        <div class="button-row">
            <button class="btn waves-effect waves-light" style="background-color: #4d9900" type="submit" name="action">
                    <text class="button-text">Update Record</text>
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}