{% extends 'base.html' %} {% block content %}


<h1 class="page-heading">The Locations of our Sites</h1>

<!-- Google Map -->

<div class="locations-wrapper">
    <div id="map"></div>
</div>

<div class="row locations-wrapper">
    <!-- Place Name as Modal Trigger -->
    <div class="col s12 location-wrapper">
        <a class="modal-trigger location-heading" href="#modal1"><u>1. The Black Isle</u></a>
        <p class="location-modal-text">
            The site under consideration is at Avoch. Woodland to the south of the site may be home to species of bat. Kestrels and Buzzards, Golden Eagles are likely...
        </p>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                    <h2 class="modal-heading">The Black Isle</h2>
                    <p class="location-modal-text">The site under consideration is at Avoch. Woodland to the south of the site may be home to species of bat.</p>
                    <p class="location-modal-text">Kestrels and Buzzards, Golden Eagles are likely. The coastal region of the site is unlikely to contain much of interest, but it is not inconceivable that something might scavenge in this area.</p>
                    <p class="location-modal-text">Of particular interest should be the grassland that makes up the northern and eastern portions of the site. A former weather station is a prominent feature of this area and is a potential nesting spot.</p>
                    <p><text class="location-modal-heading">Coordinates:</text> <text class="location-modal-stats">&nbsp; &nbsp; &nbsp;57.5833° N, 4.2500° W</p>
                    <p><text class="location-modal-heading">Site Size:</text> <text class="location-modal-stats">&nbsp; &nbsp; &nbsp;800 Square Meters</p>
                    <p><text class="location-modal-heading">Terrain & Outlook:</text> <text class="location-modal-stats">&nbsp; &nbsp; &nbsp;Exposed, uneven</p>
                    <p><text class="location-modal-heading">Structures:</text> <text class="location-modal-stats">&nbsp; &nbsp; &nbsp;Minimal</p>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/blackisle.png" width="100%" alt="The Black Isle">
                    <div class="modal-close-div">
                        <center><img href="#!" src="static/images/close.png" class="modal-close" width="50%" alt="The Black Isle"></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Place Name as Modal Trigger -->
    <div class="col s12 location-wrapper">
        <a class="modal-trigger location-heading" href="#modal2"><u>2. Kirkcaldy</u></a>
        <p class="location-modal-text">
            The site is at docklands on the outskirts of the town, and is the frontrunner to be selected as the final site due to a lack of natural habitat...
        </p>

        <!-- Modal Structure -->
        <div id="modal2" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                    <h2 class="modal-heading">Kirkcaldy</h2>
                    <p class="location-modal-text">The site is at docklands on the outskirts of the town, and is the frontrunner to be selected as the final site due to a lack of 
                    natural habitat.</p>
                    <p class="location-modal-text">There is very little foliage to be found here, just whatever has grown since the firm that previously occupied the area left and it is highly 
                    unlikely there will be any birds of prey here. </p>
                    <p class="location-modal-text">We expect bats to live in the abandoned buildings which have opens spaces. These can be found mostly at the north of the site 
                    and we would suggests this to be the most likely location.</p> 
                    <p><text class="location-modal-heading">Coordinates:</text> <text class="location-modal-stats">&nbsp; &nbsp; 56.116°N, 3.1581° W</text></p>
                    <p><text class="location-modal-heading">Site Size:</text> <text class="location-modal-stats">&nbsp; &nbsp; 1000 Square Meters</p>
                    <p><text class="location-modal-heading">Terrain & Outlook:</text> <text class="location-modal-stats">&nbsp; &nbsp; Flat, exposed in parts</p>
                    <p><text class="location-modal-heading">Structures:</text> <text class="location-modal-stats">&nbsp; &nbsp; Numerous</p>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/kirkcaldy.png" width="100%" alt="Kirkcaldy">
                    <div class="modal-close-div">
                        <center><img href="#!" src="static/images/close.png" class="modal-close" width="50%" alt="Kirkcaldy"></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Place Name as Modal Trigger -->
    <div class="col s12 location-wrapper">
        <a class="modal-trigger location-heading" href="#modal3"><u>3. Edinburgh</u></a>
        <p class="location-modal-text">
            The site under consideration is at Avoch. Woodland to the north of the site may be home to species of bat. Kestrels and Buzzards, Golden Eagles are likely...
        </p>

        <!-- Modal Structure -->
        <div id="modal3" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                    <h2 class="modal-heading">Edinburgh</h2>
                    <p class="location-modal-text">This the former site of a jute mill, which was demolished in 2003. Marshland to the south is likely to attract small mammals and so also potentially buzzards and kestrels.</p> 
                    <p class="location-modal-text">Travelling up an access road to the high ground that makes up the south west portion of the site, there is high grass and sparse forest which again may shelter populations 
                    of the aforementioned species as well as birds of prey, which may venture down from woodland.</p> 
                    <p class="location-modal-text">Older store sheds are dotted throughout the site, where bats may be found, although this is thought to be highly unlikely in this location.</p>
                    <p><text class="location-modal-heading">Coordinates:</text> <text class="location-modal-stats">&nbsp; &nbsp; &nbsp;55.9533° N, 3.1883° W</p>
                    <p><text class="location-modal-heading">Site Size:</text> <text class="location-modal-stats">&nbsp; &nbsp; &nbsp;900 Square Meters</p>
                    <p><text class="location-modal-heading">Terrain & Outlook:</text> <text class="location-modal-stats">&nbsp; &nbsp; &nbsp;Flat, sheltered</p>
                    <p><text class="location-modal-heading">Structures:</text> <text class="location-modal-stats">&nbsp; &nbsp; &nbsp;Numerous</p>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/edinburgh.png" width="100%" alt="Edinburgh">
                    <div class="modal-close-div">
                        <center><img href="#!" src="static/images/close.png" class="modal-close" width="50%" alt="Edinburgh"></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Place Name as Modal Trigger -->
    <div class="col s12 location-wrapper">
        <a class="modal-trigger location-heading" href="#modal4"><u>4. Glasgow</u></a>
        <p class="location-modal-text">
            The Glasgow sight was a sports complex until it was condemned in the early 2000s. Parts of the original structure remain and care should be taken when in or around these areas...
        </p>

        <!-- Modal Structure -->
        <div id="modal4" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                    <h2 class="modal-heading">Glasgow</h2>
                    <p class="location-modal-text">The Glasgow sight was a sports complex until it was condemned in the early 2000s. Parts of the original structure remain and care 
                    should be taken when in or around these areas. The shelter and warmth they provide though is likely to attract bats and mammals.</p> 
                    <p class="location-modal-text">Due to the small size of the sight, it is recommended that spotters take in the entirety of the location. That said, there is 
                    particular concern that this site is home to a large stoat population, most likely centred away from the complex’s single large stand and confirmation of this is desirable.</p> 
                    <p><text class="location-modal-heading">Coordinates:</text> <text class="location-modal-stats">&nbsp; &nbsp; 55.8642° N, 4.2518° W</p>
                    <p><text class="location-modal-heading">Site Size:</text> <text class="location-modal-stats">&nbsp; &nbsp; 600 Square Meters</p>
                    <p><text class="location-modal-heading">Terrain & Outlook:</text> <text class="location-modal-stats">&nbsp; &nbsp; Urban, sheltered</p>
                    <p><text class="location-modal-heading">Structures:</text> <text class="location-modal-stats">&nbsp; &nbsp; Yes</p>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/glasgow.png" width="100%" alt="Glasgow">
                    <div class="modal-close-div">
                        <center><img href="#!" src="static/images/close.png" class="modal-close" width="50%" alt="Glasgow"></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Place Name as Modal Trigger -->
    <div class="col s12 location-wrapper">
        <a class="modal-trigger location-heading" href="#modal5"><u>5. Strontian</u></a>
        <p class="location-modal-text">
            The sight sits on the shore of Loch Sinnart and is wild and windswept and so not suited to tree growth of any kind...
        </p>

        <!-- Modal Structure -->
        <div id="modal5" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                    <h2 class="modal-heading">Strontian</h2>
                    <p class="location-modal-text">The sight sits on the shore of Loch Sinnart and is wild and windswept and so not suited to tree growth of any kind. 
                    This area has never been previously developed and so lacks any forms of structure.</p> 
                    <p class="location-modal-text">The long access track that leads into the sight from the north east may prove worthwhile for exploration as spotting 
                    small mammals here will be considerably easier than in the long grass and heather that covers the vast majority of the hillside.</p>
                    <p class="location-modal-text">The very south east of the sight may be the best position to look out for Kestrels and Red Kites.</p>
                    <p><text class="location-modal-heading">Coordinates:</text> <text class="location-modal-stats">&nbsp; &nbsp; 56.6954° N, 5.5712° W</p>
                    <p><text class="location-modal-heading">Site Size:</text> <text class="location-modal-stats">&nbsp; &nbsp; 1,200 Square Meters</p>
                    <p><text class="location-modal-heading">Terrain & Outlook:</text> <text class="location-modal-stats">&nbsp; &nbsp; Very exposed and wild</p>
                    <p><text class="location-modal-heading">Structures:</text> <text class="location-modal-stats">&nbsp; &nbsp; None</p>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/strontian.png" width="100%" alt="Strontian">
                    <div class="modal-close-div">
                        <center><img href="#!" src="static/images/close.png" class="modal-close" width="50%" alt="Strontian"></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Place Name as Modal Trigger -->
    <div class="col s12 location-wrapper">
        <a class="modal-trigger location-heading" href="#modal6"><u>6. Castle Douglas</u></a>
        <p class="location-modal-text">
            The site is a former caravan park skirting the Irish Sea, which has been unused for eight years....
        </p>

        <!-- Modal Structure -->
        <div id="modal6" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                    <h2 class="modal-heading">Castle Douglas</h2>
                    <p class="location-modal-text">The site is a former caravan park skirting the Irish Sea, which has been unused for eight years. There is little of 
                    any interest in the site itself but it is bordered by thick woodland which is of consequence to any potential development.</p> 
                    <p class="location-modal-text">Attention should therefore be focused on the very east of the location, where sightings of Stoats, Red Squirrels and other small mammals are likely.</p> 
                    <p class="location-modal-text">At the west of the site, at the coastal area, there may be bird life down by the cliffs. Any populations are best viewed from the beach.</p>
                    <p><text class="location-modal-heading">Coordinates:</text> <text class="location-modal-stats">&nbsp; &nbsp; 54.9404° N, 3.9314° W</p>
                    <p><text class="location-modal-heading">Site Size:</text> <text class="location-modal-stats">&nbsp; &nbsp; 1,750 Square Meters</p>
                    <p><text class="location-modal-heading">Terrain & Outlook:</text> <text class="location-modal-stats">&nbsp; &nbsp; Exposed and uneven</p>
                    <p><text class="location-modal-heading">Structures:</text> <text class="location-modal-stats">&nbsp; &nbsp; Minimal</p>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/douglas.png" width="100%" alt="Castle Douglas">
                    <div class="modal-close-div">
                        <center><img href="#!" src="static/images/close.png" class="modal-close" width="50%" alt="Castle Douglas"></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Place Name as Modal Trigger -->
    <div class="col s12 location-wrapper">
        <a class="modal-trigger location-heading" href="#modal7"><u>7. Aberlour</u></a>
        <p class="location-modal-text">
            The Aberlour site was the location of the …. Distillery until it closed its doors in 2013. The structures 
            that made up the business are inaccessible and so are of no concern although their exteriors are likely to attract all forms of bird and bat-life...
        </p>

        <!-- Modal Structure -->
        <div id="modal7" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                    <h2 class="modal-heading">Aberlour</h2>
                    <p class="location-modal-text">The Aberlour site was the location of the GlenTorrich Distillery. The structures 
                    are inaccessible and so are of no concern although their exteriors are likely to attract all forms of bird and bat-life.</p> 
                    <p class="location-modal-text">The asphalt road that leads towards the warehouses is flanked by conifer trees which will be home to red squirrel populations and perhaps also wildcats. It would be useful to get an idea of their numbers at dawn and dusk.</p> 
                    <p class="location-modal-text">Birds of prey are most likely best sighted from the open space at the north of the site.</p>
                    <p><text class="location-modal-heading">Coordinates:</text> <text class="location-modal-stats">&nbsp; &nbsp; 57.4749° N, 3.2170° W</p>
                    <p><text class="location-modal-heading">Site Size:</text> <text class="location-modal-stats">&nbsp; &nbsp; 950 Square Meters</p>
                    <p><text class="location-modal-heading">Terrain & Outlook:</text> <text class="location-modal-stats">&nbsp; &nbsp; Built up and sheltered</p>
                    <p><text class="location-modal-heading">Structures:</text> <text class="location-modal-stats">&nbsp; &nbsp; Several large structures</p>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/aberlour.png" width="100%" alt="Aberlour">
                    <div class="modal-close-div">
                        <center><img href="#!" src="static/images/close.png" class="modal-close" width="50%" alt="Aberlour"></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Place Name as Modal Trigger -->
    <div class="col s12 location-wrapper">
        <a class="modal-trigger location-heading" href="#modal8"><u>8. Burnham</u></a>
        <p class="location-modal-text">
            This site will require the clearing of a sizeable portion of conifer trees. These woodlands are 
            highly likely to contain a red squirrel population and also potentially stoats and other small mammals...
        </p>

        <!-- Modal Structure -->
        <div id="modal8" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                    <h2 class="modal-heading">Burnham</h2>
                    <p class="location-modal-text">This site will require the clearing of a sizeable portion of conifer trees. These woodlands will contain a red squirrel population and also potentially stoats and other small mammals</p> 
                    <p class="location-modal-text">Barn owls and Merlins have been sighted in this area too. They can be hard to spot but should be identified by their distinctive call. By the river at the north of the site, look out for these same birds of prey which will naturally be easier to spot out in the open.</p> 
                    <p class="location-modal-text">This is one of only 4 locations where Brandt’s Bat has been sighted.</p>
                    <p><text class="location-modal-heading">Coordinates:</text> <text class="location-modal-stats">&nbsp; &nbsp; 56.5677° N, 3.5862° W</p>
                    <p><text class="location-modal-heading">Site Size:</text> <text class="location-modal-stats">&nbsp; &nbsp; 2,000 Square Meters</p>
                    <p><text class="location-modal-heading">Terrain & Outlook:</text> <text class="location-modal-stats">&nbsp; &nbsp; Very sheltered</p>
                    <p><text class="location-modal-heading">Structures:</text> <text class="location-modal-stats">&nbsp; &nbsp; None</p>
                </div>
                <div class="col s12 m12 l6">
                    <img src="static/images/dunkeld.png" width="100%" alt="Burnham">
                    <div class="modal-close-div">
                        <center><img href="#!" src="static/images/close.png" class="modal-close" width="50%" alt="Burnham"></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
