{% extends 'base.html' %} {% block content %}


<h3 class="text">Locations</h3>

<div class="locations-wrapper">
    <div id="map"></div>
</div>

<div class="row locations-wrapper">
    <div class="col s12 location-wrapper">
        <a class="waves-effect waves-light btn modal-trigger header" href="#modal1" style="background-color: #4d9900; color:white">1. The Black Isle</a>
        <p class="modal-text">
            The Black Isle is a peninsula within Ross and Cromarty, in the Scottish Highlands. It includes the towns of Cromarty and Fortrose, and the villages of Culbokie, Jemimaville, Rosemarkie, Avoch, Munlochy, Tore, North Kessock and Muir of Ord, as well as
            numerous smaller settlements<a class="modal-trigger" href="#modal1">. . .</a>
        </p>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>The Black Isle</h4>
                <p class="modal-text">Despite its name, the Black Isle is not an island but a peninsula, surrounded on three sides by the sea – the Cromarty Firth to the north, the Beauly Firth to the south, and the Moray Firth to the east. The area is home to a population
                    of Bottlenose dolphins. On the fourth, western side, its boundary is broadly delineated by rivers. The River Conon divides Maryburgh from Conon Bridge, which is the first village on the Black Isle from the north-west. Its southwestern
                    boundary is variously considered to be marked by either a minor tributary of the River Beauly separating Beauly (in Inverness-shire) and Muir of Ord (on the Black Isle in Ross and Cromarty), dividing the two counties and also delineating
                    the start of the Black Isle; or alternatively, the River Beauly itself, thus including Beauly in the Black Isle despite its official placement in Inverness-shire</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
    <div class="col s12 location-wrapper">
        <a class="waves-effect waves-light btn modal-trigger header" href="#modal2" style="background-color: #4d9900; color:white">2. Kirkaldy</a>
        <p class="modal-text">
            The Black Isle is a peninsula within Ross and Cromarty, in the Scottish Highlands. It includes the towns of Cromarty and Fortrose, and the villages of Culbokie, Jemimaville, Rosemarkie, Avoch, Munlochy, Tore, North Kessock and Muir of Ord, as well as
            numerous smaller settlements<a class="modal-trigger" href="#modal1">. . .</a>
        </p>
        <!-- Modal Structure -->
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>The Black Isle</h4>
                <p class="modal-text">Despite its name, the Black Isle is not an island but a peninsula, surrounded on three sides by the sea – the Cromarty Firth to the north, the Beauly Firth to the south, and the Moray Firth to the east. The area is home to a population
                    of Bottlenose dolphins. On the fourth, western side, its boundary is broadly delineated by rivers. The River Conon divides Maryburgh from Conon Bridge, which is the first village on the Black Isle from the north-west. Its southwestern
                    boundary is variously considered to be marked by either a minor tributary of the River Beauly separating Beauly (in Inverness-shire) and Muir of Ord (on the Black Isle in Ross and Cromarty), dividing the two counties and also delineating
                    the start of the Black Isle; or alternatively, the River Beauly itself, thus including Beauly in the Black Isle despite its official placement in Inverness-shire</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
    <div class="col s12 location-wrapper">
        <a class="waves-effect waves-light btn modal-trigger header" href="#modal3" style="background-color: #4d9900; color:white">3. Edinburgh</a>
        <p class="modal-text">
            The Black Isle is a peninsula within Ross and Cromarty, in the Scottish Highlands. It includes the towns of Cromarty and Fortrose, and the villages of Culbokie, Jemimaville, Rosemarkie, Avoch, Munlochy, Tore, North Kessock and Muir of Ord, as well as
            numerous smaller settlements<a class="modal-trigger" href="#modal1">. . .</a>
        </p>

        <!-- Modal Structure -->
        <div id="modal3" class="modal">
            <div class="modal-content">
                <h4>The Black Isle</h4>
                <p class="modal-text">Despite its name, the Black Isle is not an island but a peninsula, surrounded on three sides by the sea – the Cromarty Firth to the north, the Beauly Firth to the south, and the Moray Firth to the east. The area is home to a population
                    of Bottlenose dolphins. On the fourth, western side, its boundary is broadly delineated by rivers. The River Conon divides Maryburgh from Conon Bridge, which is the first village on the Black Isle from the north-west. Its southwestern
                    boundary is variously considered to be marked by either a minor tributary of the River Beauly separating Beauly (in Inverness-shire) and Muir of Ord (on the Black Isle in Ross and Cromarty), dividing the two counties and also delineating
                    the start of the Black Isle; or alternatively, the River Beauly itself, thus including Beauly in the Black Isle despite its official placement in Inverness-shire</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
    <div class="col s12 location-wrapper">
        <a class="waves-effect waves-light btn modal-trigger header" href="#modal1" style="background-color: #4d9900; color:white">4. Glasgow</a>
        <p class="modal-text">
            The Black Isle is a peninsula within Ross and Cromarty, in the Scottish Highlands. It includes the towns of Cromarty and Fortrose, and the villages of Culbokie, Jemimaville, Rosemarkie, Avoch, Munlochy, Tore, North Kessock and Muir of Ord, as well as
            numerous smaller settlements<a class="modal-trigger" href="#modal4">. . .</a>
        </p>

        <!-- Modal Structure -->
        <div id="modal4" class="modal">
            <div class="modal-content">
                <h4>The Black Isle</h4>
                <p class="modal-text">Despite its name, the Black Isle is not an island but a peninsula, surrounded on three sides by the sea – the Cromarty Firth to the north, the Beauly Firth to the south, and the Moray Firth to the east. The area is home to a population
                    of Bottlenose dolphins. On the fourth, western side, its boundary is broadly delineated by rivers. The River Conon divides Maryburgh from Conon Bridge, which is the first village on the Black Isle from the north-west. Its southwestern
                    boundary is variously considered to be marked by either a minor tributary of the River Beauly separating Beauly (in Inverness-shire) and Muir of Ord (on the Black Isle in Ross and Cromarty), dividing the two counties and also delineating
                    the start of the Black Isle; or alternatively, the River Beauly itself, thus including Beauly in the Black Isle despite its official placement in Inverness-shire</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
    <div class="col s12 location-wrapper">
        <a class="waves-effect waves-light btn modal-trigger header" href="#modal5" style="background-color: #4d9900; color:white">5. Paisley</a>
        <p class="modal-text">
            The Black Isle is a peninsula within Ross and Cromarty, in the Scottish Highlands. It includes the towns of Cromarty and Fortrose, and the villages of Culbokie, Jemimaville, Rosemarkie, Avoch, Munlochy, Tore, North Kessock and Muir of Ord, as well as
            numerous smaller settlements<a class="modal-trigger" href="#modal1">. . .</a>
        </p>

        <!-- Modal Structure -->
        <div id="modal5" class="modal">
            <div class="modal-content">
                <h4>The Black Isle</h4>
                <p class="modal-text">Despite its name, the Black Isle is not an island but a peninsula, surrounded on three sides by the sea – the Cromarty Firth to the north, the Beauly Firth to the south, and the Moray Firth to the east. The area is home to a population
                    of Bottlenose dolphins. On the fourth, western side, its boundary is broadly delineated by rivers. The River Conon divides Maryburgh from Conon Bridge, which is the first village on the Black Isle from the north-west. Its southwestern
                    boundary is variously considered to be marked by either a minor tributary of the River Beauly separating Beauly (in Inverness-shire) and Muir of Ord (on the Black Isle in Ross and Cromarty), dividing the two counties and also delineating
                    the start of the Black Isle; or alternatively, the River Beauly itself, thus including Beauly in the Black Isle despite its official placement in Inverness-shire</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
    <div class="col s12 location-wrapper">
        <a class="waves-effect waves-light btn modal-trigger header" href="#modal6" style="background-color: #4d9900; color:white">6. Castle Douglas</a>
        <p class="modal-text">
            The Black Isle is a peninsula within Ross and Cromarty, in the Scottish Highlands. It includes the towns of Cromarty and Fortrose, and the villages of Culbokie, Jemimaville, Rosemarkie, Avoch, Munlochy, Tore, North Kessock and Muir of Ord, as well as
            numerous smaller settlements<a class="modal-trigger" href="#modal1">. . .</a>
        </p>

        <!-- Modal Structure -->
        <div id="modal6" class="modal">
            <div class="modal-content">
                <h4>The Black Isle</h4>
                <p class="modal-text">Despite its name, the Black Isle is not an island but a peninsula, surrounded on three sides by the sea – the Cromarty Firth to the north, the Beauly Firth to the south, and the Moray Firth to the east. The area is home to a population
                    of Bottlenose dolphins. On the fourth, western side, its boundary is broadly delineated by rivers. The River Conon divides Maryburgh from Conon Bridge, which is the first village on the Black Isle from the north-west. Its southwestern
                    boundary is variously considered to be marked by either a minor tributary of the River Beauly separating Beauly (in Inverness-shire) and Muir of Ord (on the Black Isle in Ross and Cromarty), dividing the two counties and also delineating
                    the start of the Black Isle; or alternatively, the River Beauly itself, thus including Beauly in the Black Isle despite its official placement in Inverness-shire</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
    <div class="col s12 location-wrapper">
        <a class="waves-effect waves-light btn modal-trigger header" href="#modal7" style="background-color: #4d9900; color:white">7. Aberlour</a>
        <p class="modal-text">
            The Black Isle is a peninsula within Ross and Cromarty, in the Scottish Highlands. It includes the towns of Cromarty and Fortrose, and the villages of Culbokie, Jemimaville, Rosemarkie, Avoch, Munlochy, Tore, North Kessock and Muir of Ord, as well as
            numerous smaller settlements<a class="modal-trigger" href="#modal1">. . .</a>
        </p>

        <!-- Modal Structure -->
        <div id="modal7" class="modal">
            <div class="modal-content">
                <h4>The Black Isle</h4>
                <p class="modal-text">Despite its name, the Black Isle is not an island but a peninsula, surrounded on three sides by the sea – the Cromarty Firth to the north, the Beauly Firth to the south, and the Moray Firth to the east. The area is home to a population
                    of Bottlenose dolphins. On the fourth, western side, its boundary is broadly delineated by rivers. The River Conon divides Maryburgh from Conon Bridge, which is the first village on the Black Isle from the north-west. Its southwestern
                    boundary is variously considered to be marked by either a minor tributary of the River Beauly separating Beauly (in Inverness-shire) and Muir of Ord (on the Black Isle in Ross and Cromarty), dividing the two counties and also delineating
                    the start of the Black Isle; or alternatively, the River Beauly itself, thus including Beauly in the Black Isle despite its official placement in Inverness-shire</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
    <div class="col s12 location-wrapper">
        <a class="waves-effect waves-light btn modal-trigger header" href="#modal8" style="background-color: #4d9900; color:white">8. Burnham</a>
        <p class="modal-text">
            The Black Isle is a peninsula within Ross and Cromarty, in the Scottish Highlands. It includes the towns of Cromarty and Fortrose, and the villages of Culbokie, Jemimaville, Rosemarkie, Avoch, Munlochy, Tore, North Kessock and Muir of Ord, as well as
            numerous smaller settlements<a class="modal-trigger" href="#modal1">. . .</a>
        </p>

        <!-- Modal Structure -->
        <div id="modal8" class="modal">
            <div class="modal-content">
                <h4>The Black Isle</h4>
                <p class="modal-text">Despite its name, the Black Isle is not an island but a peninsula, surrounded on three sides by the sea – the Cromarty Firth to the north, the Beauly Firth to the south, and the Moray Firth to the east. The area is home to a population
                    of Bottlenose dolphins. On the fourth, western side, its boundary is broadly delineated by rivers. The River Conon divides Maryburgh from Conon Bridge, which is the first village on the Black Isle from the north-west. Its southwestern
                    boundary is variously considered to be marked by either a minor tributary of the River Beauly separating Beauly (in Inverness-shire) and Muir of Ord (on the Black Isle in Ross and Cromarty), dividing the two counties and also delineating
                    the start of the Black Isle; or alternatively, the River Beauly itself, thus including Beauly in the Black Isle despite its official placement in Inverness-shire</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
